/* HEADER */
.header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

/* body */
.body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}

/* Sider */
.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
}
/* End Sider */


/* Show Alert */
.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
  max-width: 400px;
  width: calc(100% - 40px); /* Giảm khi thu nhỏ màn hình */
  transition: all 0.5s ease;
}

.alert-container.alert-hidden {
  opacity: 0;
  transform: translateX(120%);
  pointer-events: none;
}

.alert {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  padding-right: 3rem; /* Để chừa chỗ cho nút X */
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 1rem;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.btn-close {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #155724;
  padding: 0;
  line-height: 1;
}

/* Image Preview */
.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.image-preview[src=""] {
  display: none;
}
/* No underline a tag */
a {
  text-decoration: none;
  color: #0d6efd; /* Bootstrap primary */
}

a:hover {
  text-decoration: underline;
}